In [1]:
import pandas as pd
import re
from sqlalchemy import create_engine

In [2]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [3]:
schema_name = "dwh"
table_name = "listing"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,id,listing_url,scrape_id,last_scraped,source,name,host_id,host_since,neighbourhood_cleansed,latitude,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,reviews_per_month,city_id,etl_loaded_at
0,6,https://www.airbnb.com/rooms/6,20241223022521,2024-12-23,city scrape,North Park Craftsmen House * Great for Families,29,2008-03-03,North Hills,32.755220,...,4.71,4.99,4.98,4.79,4.80,"str-04545l, 631067",0,0.82,1,2025-04-18 11:01:07.160683+00:00
1,360,https://www.airbnb.com/rooms/360,20241230155646,2024-12-30,city scrape,Sit in the Peaceful Garden of the Chickadee Co...,666,2008-07-08,Highland,39.766415,...,4.96,5.00,5.00,5.00,4.92,2017-bfn-0002177,0,2.35,2,2025-04-18 11:01:17.917861+00:00
2,364,https://www.airbnb.com/rooms/364,20241230155646,2024-12-30,city scrape,Lodo / RiNo LOFT via airport train,783,2008-07-11,Five Points,39.766720,...,4.81,4.95,4.96,4.65,4.71,nan,0,0.46,2,2025-04-18 11:01:17.917861+00:00
3,590,https://www.airbnb.com/rooms/590,20241230155646,2024-12-30,city scrape,Comfortable - and a great value!,933,2008-07-21,North Park Hill,39.755110,...,4.58,4.93,4.95,4.76,4.85,2021-bfn-0000578,0,3.85,2,2025-04-18 11:01:17.917861+00:00
4,592,https://www.airbnb.com/rooms/592,20241230155646,2024-12-30,city scrape,private,933,2008-07-21,North Park Hill,39.754810,...,4.58,4.95,4.95,4.82,4.87,2021-bfn-0000578,0,0.93,2,2025-04-18 11:01:17.917861+00:00

In [4]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926392 entries, 0 to 926391
Data columns (total 45 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           926392 non-null  int64
 1   listing_url                  926392 non-null  object
 2   scrape_id                    926392 non-null  int64
 3   last_scraped                 926392 non-null  object
 4   source                       926392 non-null  object
 5   name                         926392 non-null  object
 6   host_id                      926392 non-null  int64
 7   host_since                   926392 non-null  object
 8   neighbourhood_cleansed       926392 non-null  object
 9   latitude                     926392 non-null  float64
 10  longitude                    926392 non-null  float64
 11  property_type                926392 non-null  object
 12  room_type                    926392 non-null  object
 13  accommodates                 926392 non-null  int64
 14  bathrooms                    926392 non-null  float64
 15  bathrooms_text               926392 non-null  object
 16  bedrooms                     926392 non-null  int64
 17  beds                         926392 non-null  float64
 18  amenities                    926392 non-null  object
 19  price_dollar                 926392 non-null  float64
 20  minimum_nights               926392 non-null  int64
 21  maximum_nights               926392 non-null  int64
 22  has_availability             926392 non-null  int64
 23  availability_30              926392 non-null  int64
 24  availability_60              926392 non-null  int64
 25  availability_90              926392 non-null  int64
 26  availability_365             926392 non-null  int64
 27  calendar_last_scraped        926392 non-null  object
 28  number_of_reviews            926392 non-null  int64
 29  number_of_reviews_ltm        926392 non-null  int64
 30  number_of_reviews_l30d       926392 non-null  int64
 31  first_review                 926392 non-null  object
 32  last_review                  926392 non-null  object
 33  review_scores_rating         926392 non-null  float64
 34  review_scores_accuracy       926392 non-null  float64
 35  review_scores_cleanliness    926392 non-null  float64
 36  review_scores_checkin        926392 non-null  float64
 37  review_scores_communication  926392 non-null  float64
 38  review_scores_location       926392 non-null  float64
 39  review_scores_value          926392 non-null  float64
 40  license                      926392 non-null  object
 41  instant_bookable             926392 non-null  int64
 42  reviews_per_month            926392 non-null  float64
 43  city_id                      926392 non-null  int64
 44  etl_loaded_at                926392 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(13), int64(17), object(14)
memory usage: 318.1+ MB

None

In [6]:
df["property_type"].unique()

array(['entire home', 'entire guesthouse', 'entire loft',
       'private room in home', 'entire serviced apartment',
       'private room in condo', 'private room in rental unit',
       'private room', 'entire rental unit', 'private room in townhouse',
       'entire guest suite', 'entire condo', 'entire bungalow',
       'private room in guest suite', 'entire place',
       'private room in farm stay', 'windmill', 'farm stay',
       'entire vacation home', 'entire villa', 'entire townhouse',
       'private room in loft', 'private room in bed and breakfast',
       'private room in guesthouse', 'entire cottage',
       'private room in serviced apartment', 'tiny home', 'room in hotel',
       'private room in bungalow', 'private room in villa',
       'room in bed and breakfast', 'room in serviced apartment',
       'room in boutique hotel', 'room in hostel', 'boat', 'dome',
       'room in aparthotel', 'shared room in hostel',
       'private room in treehouse', 'cycladic home', 'entire cabin',
       'private room in resort', 'entire bed and breakfast', 'houseboat',
       'private room in hostel', 'private room in cottage',
       'earthen home', 'cave', 'entire chalet', 'private room in cave',
       'private room in chalet', 'trullo', 'hut',
       'private room in houseboat', 'private room in cabin',
       'private room in vacation home', 'shared room in home',
       'shared room in villa', 'private room in tiny home',
       'private room in castle', 'camper/rv',
       'private room in nature lodge', 'island',
       'private room in casa particular',
       'private room in cycladic house', 'private room in tent',
       'shared room in rental unit', 'dammuso', 'shared room', 'ranch',
       'treehouse', 'private room in earthen home', 'yurt',
       'casa particular', 'shared room in condo', 'castle',
       'room in resort', 'barn', 'campsite', 'private room in trullo',
       'shared room in loft', 'private room in hut',
       'private room in boat', 'private room in dammuso',
       'private room in camper/rv', 'shipping container',
       'private room in religious building', 'shared room in townhouse',
       'entire home/apt', 'entire resort', 'ice dome',
       'private room in windmill', 'religious building',
       'private room in tower', 'private room in dome',
       'shared room in bed and breakfast', 'shared room in guesthouse',
       'tipi', 'tent', 'room in nature lodge', 'shared room in camper/rv',
       'private room in floor', 'tower', 'bus', 'private room in island',
       'nature lodge', 'lighthouse', 'private room in barn',
       'shared room in resort', 'train', 'floor',
       'room in heritage hotel', 'private room in bus',
       'shared room in farm stay', 'shared room in tiny home',
       'room in guesthouse', 'shared room in yurt',
       'private room in yurt', 'room in casa particular',
       'room in rental unit', 'shared room in hut',
       'private room in minsu', 'shared room in bungalow',
       'shared room in cabin', 'shared room in boutique hotel',
       'entire hostel', 'shared room in guest suite', 'holiday park',
       'private room in ryokan', 'shared room in casa particular',
       'entire in-law', 'private room in pension',
       'private room in shipping container', 'shepherdâ€™s hut',
       'shared room in aparthotel', 'shared room in hotel',
       'shared room in tent', 'shared room in serviced apartment',
       'pension', 'shared room in nature lodge', 'private room in tipi',
       'shared room in earthen home', 'private room in kezhan',
       'private room in holiday park', 'private room in lighthouse',
       'private room in ranch', 'shared room in vacation home',
       "private room in shepherd's hut", 'shared room in barn',
       'shared room in ryokan', 'private room in riad',
       'shared room in kezhan', 'plane', 'hotel room', 'riad'],
      dtype=object)

In [7]:
feature_columns = [
    "latitude", 
    "longitude", 
    "room_type", 
    "accommodates", 
    "bathrooms", 
    "bedrooms", 
    "beds", 
    "minimum_nights",
    "maximum_nights",
    "country",
    "price_dollar"
    ]

In [ ]:
amenitie_listing_query = f"SELECT * FROM {schema_name}.amenitie_listing al JOIN {schema_name}.amenitie a ON a.amenitie_id = al.amenitie_id"

amenitie_listing_df = pd.read_sql_query(amenitie_listing_query, engine)
amenitie_groups = list(amenitie_listing_df['group'].unique())

city_query = f"SELECT city_id, city_name FROM {schema_name}.city"
city_df = pd.read_sql_query(city_query, engine)

KeyError: 'group'

In [10]:
city_mapping = {
    "budapest": 0,
    "seattle": 1,
    "sicily": 2,
    "south-aegean": 3,
    "barwon-south-west-vic": 4,
    "madrid": 5,
    "pacific-grove": 6,
    "belize": 7,
    "san-mateo-county": 8,
    "northern-rivers": 9,
    "mid-north-coast": 10,
    "columbus": 11,
    "quebec-city": 12,
    "greater-manchester": 13,
    "sunshine-coast": 14,
    "salem-or": 15,
    "ghent": 16,
    "mornington-peninsula": 17,
    "barossa-valley": 18,
    "new-brunswick": 19,
    "victoria": 20,
    "broward-county": 21,
    "rhode-island": 22,
    "montreal": 23,
    "toronto": 24,
    "vancouver": 25,
    "ottawa": 26,
    "winnipeg": 27,
    "albany": 28,
    "asheville": 29,
    "austin": 30,
    "boston": 31,
    "bozeman": 32,
    "cambridge": 33,
    "chicago": 34,
    "clark-county-nv": 35,
    "dallas": 36,
    "denver": 37,
    "fort-worth": 38,
    "hawaii": 39,
    "jersey-city": 40,
    "los-angeles": 41,
    "nashville": 42,
    "new-orleans": 43,
    "new-york-city": 44,
    "newark": 45,
    "oakland": 46,
    "portland": 47,
    "vienna": 48,
    "antwerp": 49,
    "brussels": 50,
    "copenhagen": 51,
    "bordeaux": 52,
    "athens": 53,
    "crete": 54,
    "thessaloniki": 55,
    "bologna": 56,
    "florence": 57,
    "naples": 58,
    "venice": 59,
    "lisbon": 60,
    "stockholm": 61,
    "vaud": 62,
    "edinburgh": 63,
    "western-australia": 64,
    "singapore": 65,
    "twin-cities-msa": 66,
    "washington-dc": 67,
    "rome": 68,
    "rochester": 69,
    "san-diego": 70,
    "san-francisco": 71,
    "santa-clara-county": 72,
    "santa-cruz-county": 73,
    "lyon": 74,
    "paris": 75,
    "pays-basque": 76,
    "berlin": 77,
    "munich": 78,
    "dublin": 79,
    "bergamo": 80,
    "milan": 81,
    "puglia": 82,
    "trentino": 83,
    "riga": 84,
    "oslo": 85,
    "porto": 86,
    "barcelona": 87,
    "euskadi": 88,
    "girona": 89,
    "malaga": 90,
    "mallorca": 91,
    "menorca": 92,
    "sevilla": 93,
    "valencia": 94,
    "geneva": 95,
    "zurich": 96,
    "bristol": 97,
    "london": 98,
    "cape-town": 99,
    "brisbane": 100,
    "melbourne": 101,
    "sydney": 102,
    "tasmania": 103,
    "hong-kong": 104,
    "tokyo": 105,
    "bangkok": 106,
    "buenos-aires": 107,
    "rio-de-janeiro": 108,
    "santiago": 109,
    "mexico-city": 110
}

In [ ]:
import logging
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

# ConfiguraciÃ³n bÃ¡sica de logging con timestamp
logging.basicConfig(
    level=logging.INFO,
    format="%(asctime)s â€” %(levelname)s â€” %(message)s",
    datefmt="%Y-%m-%d %H:%M:%S"
)
logger = logging.getLogger(__name__)

# Inicializar el modelo y scaler
model = SGDRegressor(
    random_state=42,
    learning_rate='constant',
    eta0=0.01,
    max_iter=1,
    tol=None,
    warm_start=True
)
scaler = StandardScaler()

def train_in_batches(engine, schema_name, table_name, batch_size=10000):
    # Contar filas totales
    count_query = f"SELECT COUNT(*) FROM {schema_name}.{table_name}"
    total_rows = pd.read_sql(count_query, engine).iloc[0, 0]
    logger.info(f"Total filas en {schema_name}.{table_name}: {total_rows}")

    # Primer batch: fit del scaler y primer partial_fit
    first_q = f"SELECT * FROM {schema_name}.{table_name} LIMIT {batch_size}"
    first_batch = pd.read_sql(first_q, engine)
    X_first, y_first = prepare_features_target(first_batch)
    scaler.fit(X_first)
    X_first_scaled = scaler.transform(X_first)
    model.partial_fit(X_first_scaled, y_first)
    logger.info(f"Procesado batch 1 (filas 0â€“{len(first_batch)-1}): scaler fit + first partial_fit")

    mae_accum  = []
    count_batches = 1

    # Iterar sobre el resto de los batches
    for offset in range(batch_size, total_rows, batch_size):
        batch_q = (
            f"SELECT * FROM {schema_name}.{table_name} "
            f"LIMIT {batch_size} OFFSET {offset}"
        )
        batch_df = pd.read_sql(batch_q, engine)
        if batch_df.empty:
            logger.info("Batch vacÃ­o, terminando procesado.")
            break
        
        logger.info(f"Preparando features")
        X_batch, y_batch = prepare_features_target(batch_df)
        logger.info(f"Features preparados")

        X_batch_scaled = scaler.transform(X_batch)

        # EvaluaciÃ³n on-stream
        y_pred = model.predict(X_batch_scaled)
        mae  = mean_absolute_error(y_batch, y_pred)
        mae_accum.append(mae)
        logger.info(
            f"Batch {count_batches+1:03d} (filas {offset}â€“{offset+len(batch_df)-1}) â€” "
            f"MAE: {mae:.4f}"
        )

        # Entrenamiento incremental
        model.partial_fit(X_batch_scaled, y_batch)
        count_batches += 1

    # Resumen final
    logger.info(f"Procesados {count_batches} batches en total.")
    logger.info(f"MAE medio on-stream:  {np.mean(mae_accum):.4f}")

    plt.plot(mae_accum, range(1, len(mae_accum)))
    plt.xlabel("Batch")
    plt.ylabel("MAE")
    plt.show()

    return model, scaler


def prepare_features_target(df):
    selected_columns = [
        "id",
        "latitude", 
        "longitude", 
        "room_type", 
        "accommodates", 
        "bathrooms", 
        "bedrooms", 
        "beds", 
        "minimum_nights",
        "maximum_nights",
        "amenities"
        "city_id",
        "price_dollar"
    ]
    
    # Seleccionar solo columnas numÃ©ricas que existen
    available_features = [col for col in feature_columns if col in df.columns]
    df_batch = df[selected_columns]

    for group in amenitie_groups:
        df_batch[group] = 0

    for i, row in df_batch.iterrows():
        amen_group_df = amenitie_listing_df[amenitie_listing_df['listing_id'] == row['id']].groupby('group')['amenitie_id'].agg(['count'])

        for j, row2 in amen_group_df.iterrows():
            df_batch.loc[i, row2['group']] = row2['count']

    df_batch["city_label"] = -1
    for i, row in df_batch.iterrows():
        city_name = city_df[row['city_id']]['city_name']
        df_batch.loc[i, "city_label"] = city_mapping[city_name]

    columns_to_drop = ["id", "city_id", "amenities", "price_dollar"]

    y = df_batch['price_dollar']
    X = df_batch.drop(columns=columns_to_drop)
    
    return X, y