In [8]:
import pandas as pd
import re
from sqlalchemy import create_engine

In [3]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [4]:
schema_name = "stg"
table_name = "listing"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,province,country,continent,etl_loaded_at
0,2272479,https://www.airbnb.com/rooms/2272479,20250302144713,2025-03-03,previous scrape,Trendy Dundas West Location,"3 bedroom modern, bright, open concept home in...",The neighbourhood is in Brockton Village. Ther...,https://a0.muscache.com/pictures/46f143db-c4c5...,1495412,...,1,1,0,0,0.11,toronto,on,Canada,Americas,2025-04-18 11:00:25.425703+00:00
1,2274060,https://www.airbnb.com/rooms/2274060,20250302144713,2025-03-03,city scrape,1 BR-Close to DonMills & Eglinton 204,Central location to downtown and rest of Toron...,None,https://a0.muscache.com/pictures/30572090/5727...,1854872,...,5,0,5,0,0.31,toronto,on,Canada,Americas,2025-04-18 11:00:25.425703+00:00
2,2296506,https://www.airbnb.com/rooms/2296506,20250302144713,2025-03-03,city scrape,Fully Furnished Downtown Condo - stunning Lake...,A modern fully furnished 1 bedroom condo with ...,"Walking distance to Union Station, CN Tower, A...",https://a0.muscache.com/pictures/30776711/b48a...,11729337,...,2,2,0,0,0.49,toronto,on,Canada,Americas,2025-04-18 11:00:25.425703+00:00
3,2298592,https://www.airbnb.com/rooms/2298592,20250302144713,2025-03-03,previous scrape,Cozy attic room in shared house,My cozy attic bedroom is in a large Victorian ...,The Annex is one of my favourite neighbourhood...,https://a0.muscache.com/pictures/44763516/90b9...,2441074,...,1,0,1,0,NaN,toronto,on,Canada,Americas,2025-04-18 11:00:25.425703+00:00
4,2316010,https://www.airbnb.com/rooms/2316010,20250302144713,2025-03-03,previous scrape,Lovely Bedroom Downtown by subway,Beautiful downtown Toronto simply but lovingly...,Our apartment is located where several cool ne...,https://a0.muscache.com/pictures/89207753/b93d...,11827037,...,1,0,1,0,0.01,toronto,on,Canada,Americas,2025-04-18 11:00:25.425703+00:00

In [5]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 68 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   id                                            1428928 non-null  int64
 1   listing_url                                   1428928 non-null  object
 2   scrape_id                                     1428928 non-null  int64
 3   last_scraped                                  1428928 non-null  object
 4   source                                        1428928 non-null  object
 5   name                                          1428924 non-null  object
 6   description                                   1392322 non-null  object
 7   neighborhood_overview                         693522 non-null   object
 8   picture_url                                   1428910 non-null  object
 9   host_id                                       1428928 non-null  int64
 10  host_url                                      1428928 non-null  object
 11  host_since                                    1428113 non-null  object
 12  host_response_time                            1428928 non-null  object
 13  host_response_rate_percentage                 1100122 non-null  object
 14  host_acceptance_rate_percentage               1209650 non-null  object
 15  host_is_superhost                             1386576 non-null  object
 16  host_listings_count                           1428113 non-null  float64
 17  host_total_listings_count                     1428113 non-null  float64
 18  host_verifications                            1428113 non-null  object
 19  host_has_profile_pic                          1428113 non-null  float64
 20  host_identity_verified                        1428113 non-null  float64
 21  neighbourhood                                 693529 non-null   object
 22  neighbourhood_cleansed                        1427926 non-null  object
 23  neighbourhood_group_cleansed                  366306 non-null   object
 24  latitude                                      1428928 non-null  float64
 25  longitude                                     1428928 non-null  float64
 26  property_type                                 1428928 non-null  object
 27  room_type                                     1428928 non-null  object
 28  accommodates                                  1428928 non-null  int64
 29  bathrooms                                     1157483 non-null  float64
 30  bathrooms_text                                1427317 non-null  object
 31  bedrooms                                      1361229 non-null  float64
 32  beds                                          1155953 non-null  float64
 33  amenities                                     1428928 non-null  object
 34  price_dollar                                  1156847 non-null  float64
 35  minimum_nights                                1428928 non-null  int64
 36  maximum_nights                                1428928 non-null  int64
 37  calendar_updated                              0 non-null        object
 38  has_availability                              1384065 non-null  float64
 39  availability_30                               1428928 non-null  int64
 40  availability_60                               1428928 non-null  int64
 41  availability_90                               1428928 non-null  int64
 42  availability_365                              1428928 non-null  int64
 43  calendar_last_scraped                         1428928 non-null  object
 44  number_of_reviews                             1428928 non-null  int64
 45  number_of_reviews_ltm                         1428928 non-null  int64
 46  number_of_reviews_l30d                        1428928 non-null  int64
 47  first_review                                  1126953 non-null  object
 48  last_review                                   1126953 non-null  object
 49  review_scores_rating                          1126951 non-null  float64
 50  review_scores_accuracy                        1126829 non-null  float64
 51  review_scores_cleanliness                     1126866 non-null  float64
 52  review_scores_checkin                         1126742 non-null  float64
 53  review_scores_communication                   1126830 non-null  float64
 54  review_scores_location                        1126727 non-null  float64
 55  review_scores_value                           1126717 non-null  float64
 56  license                                       1428928 non-null  object
 57  instant_bookable                              1428928 non-null  int64
 58  calculated_host_listings_count                1428928 non-null  int64
 59  calculated_host_listings_count_entire_homes   1428928 non-null  int64
 60  calculated_host_listings_count_private_rooms  1428928 non-null  int64
 61  calculated_host_listings_count_shared_rooms   1428928 non-null  int64
 62  reviews_per_month                             1126953 non-null  float64
 63  city                                          1428928 non-null  object
 64  province                                      1428928 non-null  object
 65  country                                       1428928 non-null  object
 66  continent                                     1428928 non-null  object
 67  etl_loaded_at                                 1428928 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(19), int64(18), object(30)
memory usage: 741.3+ MB

None

In [6]:
# CÃ¡lculo de medianas por grupo
group_stats = df.groupby('accommodates').agg({
    'beds': 'median',
    'bedrooms': 'median'
})

# FunciÃ³n de imputaciÃ³n
def impute_by_group(row, col):
    if pd.isna(row[col]):
        return group_stats.loc[row['accommodates'], col]
    return row[col]

df['beds'] = df.apply(lambda r: impute_by_group(r, 'beds'), axis=1)
df['bedrooms'] = df.apply(lambda r: impute_by_group(r, 'bedrooms'), axis=1)

# Alternativa: fallback a mediana global si el valor sigue NaN
med_beds = df['beds'].median()
med_bedrooms = df['bedrooms'].median()
df['beds'].fillna(med_beds, inplace=True)
df['bedrooms'].fillna(med_bedrooms, inplace=True)

C:\Users\Jesus Santos Capote\AppData\Local\Temp\ipykernel_35304\2714395757.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(med_beds, inplace=True)
C:\Users\Jesus Santos Capote\AppData\Local\Temp\ipykernel_35304\2714395757.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(med_bedrooms, inplace=True)

In [9]:
for i in range(df.shape[0]):
    if pd.isna(df.loc[i, "bathrooms"]):
        if not pd.isna(df.loc[i, "bathrooms_text"]):
            half_bath_regex = r"\b(half[-\s]?bath(room)?|medio\s+baÃ±[oe])\b"
            text = df.loc[i, "bathrooms_text"].lower()

            if re.search(half_bath_regex, text):
                df.loc[i, "bathrooms"] = 0.5
                continue

            text_list = text.split(" ")

            if text_list[0].isdigit():
                df.loc[i, "bathrooms"] = float(text_list[0])
                continue

        df.loc[i, "bathrooms"] = 1

In [10]:
selected_columns = [
    "latitude", 
    "longitude", 
    "room_type", 
    "accommodates", 
    "bathrooms", 
    "bedrooms", 
    "beds", 
    "minimum_nights",
    "maximum_nights",
    "country",
    "price_dollar"
    ]

In [11]:
df = df[selected_columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 11 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   latitude        1428928 non-null  float64
 1   longitude       1428928 non-null  float64
 2   room_type       1428928 non-null  object
 3   accommodates    1428928 non-null  int64
 4   bathrooms       1428928 non-null  float64
 5   bedrooms        1428928 non-null  float64
 6   beds            1428928 non-null  float64
 7   minimum_nights  1428928 non-null  int64
 8   maximum_nights  1428928 non-null  int64
 9   country         1428928 non-null  object
 10  price_dollar    1156847 non-null  float64
dtypes: float64(6), int64(3), object(2)
memory usage: 119.9+ MB

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, r2_score, mean_absolute_percentage_error

In [13]:
df_dummies = pd.get_dummies(df, columns=['room_type', 'country'], 
                           prefix=['room_type', 'country'], 
                           drop_first=True)

In [14]:
df_dummies.head()

,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,price_dollar,room_type_hotel room,...,country_Norway,country_Portugal,country_Singapore,country_South Africa,country_Spain,country_Sweden,country_Switzerland,country_Thailand,country_United Kingdom,country_United States
0,43.64833,-79.43545,6,2.0,3.0,3.0,30,100,NaN,False,...,False,False,False,False,False,False,False,False,False,False
1,43.71951,-79.33560,1,1.0,4.0,1.0,28,1125,30.0,False,...,False,False,False,False,False,False,False,False,False,False
2,43.64168,-79.38025,2,1.0,1.0,1.0,28,1125,116.0,False,...,False,False,False,False,False,False,False,False,False,False
3,43.66140,-79.40839,1,1.0,1.0,1.0,28,1125,NaN,False,...,False,False,False,False,False,False,False,False,False,False
4,43.66907,-79.37654,1,1.0,1.0,1.0,28,1125,NaN,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 40 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   latitude                1428928 non-null  float64
 1   longitude               1428928 non-null  float64
 2   accommodates            1428928 non-null  int64
 3   bathrooms               1428928 non-null  float64
 4   bedrooms                1428928 non-null  float64
 5   beds                    1428928 non-null  float64
 6   minimum_nights          1428928 non-null  int64
 7   maximum_nights          1428928 non-null  int64
 8   price_dollar            1156847 non-null  float64
 9   room_type_hotel room    1428928 non-null  bool
 10  room_type_private room  1428928 non-null  bool
 11  room_type_shared room   1428928 non-null  bool
 12  country_Australia       1428928 non-null  bool
 13  country_Austria         1428928 non-null  bool
 14  country_Belgium         1428928 non-null  bool
 15  country_Belize          1428928 non-null  bool
 16  country_Brazil          1428928 non-null  bool
 17  country_Canada          1428928 non-null  bool
 18  country_Chile           1428928 non-null  bool
 19  country_China           1428928 non-null  bool
 20  country_Denmark         1428928 non-null  bool
 21  country_France          1428928 non-null  bool
 22  country_Germany         1428928 non-null  bool
 23  country_Greece          1428928 non-null  bool
 24  country_Hungary         1428928 non-null  bool
 25  country_Ireland         1428928 non-null  bool
 26  country_Italy           1428928 non-null  bool
 27  country_Japan           1428928 non-null  bool
 28  country_Latvia          1428928 non-null  bool
 29  country_Mexico          1428928 non-null  bool
 30  country_Norway          1428928 non-null  bool
 31  country_Portugal        1428928 non-null  bool
 32  country_Singapore       1428928 non-null  bool
 33  country_South Africa    1428928 non-null  bool
 34  country_Spain           1428928 non-null  bool
 35  country_Sweden          1428928 non-null  bool
 36  country_Switzerland     1428928 non-null  bool
 37  country_Thailand        1428928 non-null  bool
 38  country_United Kingdom  1428928 non-null  bool
 39  country_United States   1428928 non-null  bool
dtypes: bool(31), float64(6), int64(3)
memory usage: 140.4 MB