In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [4]:
schema_name = "stg"
table_name = "calendar"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,listing_id,date,available,price_dollar,adjusted_price_dollar,minimum_nights,maximum_nights
0,3191,2024-12-28,False,47.0,NaN,3.0,730.0
1,672103,2024-12-28,False,4950.0,NaN,10.0,20.0
2,15007,2024-12-28,False,2043.0,NaN,2.0,1125.0
3,675177,2024-12-28,False,4738.0,NaN,2.0,1125.0
4,15068,2024-12-28,False,3000.0,NaN,4.0,730.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303617 entries, 0 to 303616
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   listing_id             303617 non-null  int64
 1   date                   303617 non-null  object
 2   available              303617 non-null  bool
 3   price_dollar           303617 non-null  float64
 4   adjusted_price_dollar  256 non-null     float64
 5   minimum_nights         301773 non-null  float64
 6   maximum_nights         301773 non-null  float64
dtypes: bool(1), float64(4), int64(1), object(1)
memory usage: 14.2+ MB

La columna adjusted_price_dollar tiene muy pocos valores no nulos, conviene eliminarla. Minimun y maximun nights tienen algunos valores nulos, pero son pocos dado el volumen de esta tabla, por tanto se sugiere eliminar las filas que contengan estos valores en null