In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [3]:
schema_name = "stg"
table_name = "listing"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,province,country,continent,etl_loaded_at
0,2634956,https://www.airbnb.com/rooms/2634956,20241228025310,2024-12-28,city scrape,60 on Hely Camps Bay villa with ocean view,is a upmarket property view of the ocean and s...,the neighbourhood is a very up marked and quie...,https://a0.muscache.com/pictures/53128bd3-f317...,13492506,...,1,1,0,0,0.31,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
1,2635024,https://www.airbnb.com/rooms/2635024,20241228025310,2024-12-28,city scrape,Cape Town Gem,Welcome to your home away from home! This rece...,The apartment is conveniently close to city at...,https://a0.muscache.com/pictures/miso/Hosting-...,11960426,...,1,1,0,0,0.30,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
2,2646397,https://www.airbnb.com/rooms/2646397,20241228025310,2024-12-28,city scrape,"Everview Garden, 10min from beach",NO LOADSHEDDING (or no electricity outages at ...,Camps Bay is a wonderfully central place to ex...,https://a0.muscache.com/pictures/0cc6694f-f06f...,13550677,...,4,4,0,0,0.53,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
3,1877613,https://www.airbnb.com/rooms/1877613,20241228025310,2024-12-29,previous scrape,Luxury Green Point Apartment for 4,Central Self Catering Apartment with Amazing V...,Green Point has fast become one of the trendie...,https://a0.muscache.com/pictures/47180122/1bae...,9778760,...,1,1,0,0,3.52,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
4,1904760,https://www.airbnb.com/rooms/1904760,20241228025310,2024-12-28,city scrape,Cape Point Mountain Getaway - Villa,A magnificent historical home surrounded by fy...,The villa is in a nature conservancy. The near...,https://a0.muscache.com/pictures/hosting/Hosti...,8507045,...,3,3,0,0,1.45,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00

In [4]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 68 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   id                                            1428928 non-null  int64
 1   listing_url                                   1428928 non-null  object
 2   scrape_id                                     1428928 non-null  int64
 3   last_scraped                                  1428928 non-null  object
 4   source                                        1428928 non-null  object
 5   name                                          1428924 non-null  object
 6   description                                   1392322 non-null  object
 7   neighborhood_overview                         693522 non-null   object
 8   picture_url                                   1428910 non-null  object
 9   host_id                                       1428928 non-null  int64
 10  host_url                                      1428928 non-null  object
 11  host_since                                    1428113 non-null  object
 12  host_response_time                            1428928 non-null  object
 13  host_response_rate_percentage                 1100122 non-null  object
 14  host_acceptance_rate_percentage               1209650 non-null  object
 15  host_is_superhost                             1386576 non-null  object
 16  host_listings_count                           1428113 non-null  float64
 17  host_total_listings_count                     1428113 non-null  float64
 18  host_verifications                            1428113 non-null  object
 19  host_has_profile_pic                          1428113 non-null  float64
 20  host_identity_verified                        1428113 non-null  float64
 21  neighbourhood                                 693529 non-null   object
 22  neighbourhood_cleansed                        1427926 non-null  object
 23  neighbourhood_group_cleansed                  366306 non-null   object
 24  latitude                                      1428928 non-null  float64
 25  longitude                                     1428928 non-null  float64
 26  property_type                                 1428928 non-null  object
 27  room_type                                     1428928 non-null  object
 28  accommodates                                  1428928 non-null  int64
 29  bathrooms                                     1157483 non-null  float64
 30  bathrooms_text                                1427317 non-null  object
 31  bedrooms                                      1361229 non-null  float64
 32  beds                                          1155953 non-null  float64
 33  amenities                                     1428928 non-null  object
 34  price_dollar                                  1156847 non-null  float64
 35  minimum_nights                                1428928 non-null  int64
 36  maximum_nights                                1428928 non-null  int64
 37  calendar_updated                              0 non-null        object
 38  has_availability                              1384065 non-null  float64
 39  availability_30                               1428928 non-null  int64
 40  availability_60                               1428928 non-null  int64
 41  availability_90                               1428928 non-null  int64
 42  availability_365                              1428928 non-null  int64
 43  calendar_last_scraped                         1428928 non-null  object
 44  number_of_reviews                             1428928 non-null  int64
 45  number_of_reviews_ltm                         1428928 non-null  int64
 46  number_of_reviews_l30d                        1428928 non-null  int64
 47  first_review                                  1126953 non-null  object
 48  last_review                                   1126953 non-null  object
 49  review_scores_rating                          1126951 non-null  float64
 50  review_scores_accuracy                        1126829 non-null  float64
 51  review_scores_cleanliness                     1126866 non-null  float64
 52  review_scores_checkin                         1126742 non-null  float64
 53  review_scores_communication                   1126830 non-null  float64
 54  review_scores_location                        1126727 non-null  float64
 55  review_scores_value                           1126717 non-null  float64
 56  license                                       1428928 non-null  object
 57  instant_bookable                              1428928 non-null  int64
 58  calculated_host_listings_count                1428928 non-null  int64
 59  calculated_host_listings_count_entire_homes   1428928 non-null  int64
 60  calculated_host_listings_count_private_rooms  1428928 non-null  int64
 61  calculated_host_listings_count_shared_rooms   1428928 non-null  int64
 62  reviews_per_month                             1126953 non-null  float64
 63  city                                          1428928 non-null  object
 64  province                                      1428928 non-null  object
 65  country                                       1428928 non-null  object
 66  continent                                     1428928 non-null  object
 67  etl_loaded_at                                 1428928 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(19), int64(18), object(30)
memory usage: 741.3+ MB

None

In [7]:
df_price = df[['price_dollar', 'city']]
df_price_null = df_price[df_price['price_dollar'].isnull()]
display(df_price_null)
display(df_price_null['city'].value_counts())

         price_dollar       city
3                 NaN  cape-town
6                 NaN  cape-town
9                 NaN  cape-town
18                NaN  cape-town
25                NaN  cape-town
...               ...        ...
1428877           NaN  cape-town
1428881           NaN  cape-town
1428906           NaN  cape-town
1428911           NaN  cape-town
1428927           NaN  cape-town

[272081 rows x 2 columns]

city
london            32367
paris             30938
new-york-city     15126
copenhagen         9236
los-angeles        9164
                  ...
salem-or             57
albany               50
barossa-valley       29
pacific-grove        21
budapest              7
Name: count, Length: 111, dtype: int64

Los nulos de la columna precio parece no tener relacion con la ciudad