In [16]:
import pandas as pd
pd.options.plotting.backend = "plotly"
from sqlalchemy import create_engine
import plotly.express as px

In [17]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [18]:
schema_name = "stg"
table_name = "listing"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,province,country,continent,etl_loaded_at
0,3191,https://www.airbnb.com/rooms/3191,20241228025310,2024-12-28,city scrape,Malleson Garden Cottage,"This is a lovely, separate, self-catering cott...","Mowbray is on the Southern Suburbs line, 6km (...",https://a0.muscache.com/pictures/697022/385407...,3754,...,1,1,0,0,0.56,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
1,15007,https://www.airbnb.com/rooms/15007,20241228025310,2024-12-28,city scrape,Blaauwberg House on the beach in Bloubergstrand,Welcome to our self-catering beach-front famil...,"Bloubergstrand is a lovely, cosy suburb near C...",https://a0.muscache.com/pictures/3b654aa4-248e...,59072,...,3,3,0,0,0.35,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
2,15068,https://www.airbnb.com/rooms/15068,20241228025310,2024-12-28,city scrape,Grande Bay,Modern spacious apartment. Three bedrooms two...,Close to Eden on The Bay and lots of restauran...,https://a0.muscache.com/pictures/a09b3f0d-d43b...,59318,...,6,6,0,0,NaN,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
3,15077,https://www.airbnb.com/rooms/15077,20241228025310,2024-12-28,city scrape,Relaxed beach living in style,Our Superior Rooms (approx. 25 m²) are located...,It is probably the best hub in order to explor...,https://a0.muscache.com/pictures/4a8fceaa-655e...,59342,...,6,1,5,0,0.05,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00
4,15199,https://www.airbnb.com/rooms/15199,20241228025310,2024-12-28,city scrape,Self catering apartment,None,None,https://a0.muscache.com/pictures/142776/5b6c9e...,59694,...,1,1,0,0,0.02,cape-town,wc,South Africa,Africa,2025-04-18 10:59:44.445742+00:00

In [19]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 68 columns):
 #   Column                                        Non-Null Count    Dtype
---  ------                                        --------------    -----
 0   id                                            1428928 non-null  int64
 1   listing_url                                   1428928 non-null  object
 2   scrape_id                                     1428928 non-null  int64
 3   last_scraped                                  1428928 non-null  object
 4   source                                        1428928 non-null  object
 5   name                                          1428924 non-null  object
 6   description                                   1392322 non-null  object
 7   neighborhood_overview                         693522 non-null   object
 8   picture_url                                   1428910 non-null  object
 9   host_id                                       1428928 non-null  int64
 10  host_url                                      1428928 non-null  object
 11  host_since                                    1428113 non-null  object
 12  host_response_time                            1428928 non-null  object
 13  host_response_rate_percentage                 1100122 non-null  object
 14  host_acceptance_rate_percentage               1209650 non-null  object
 15  host_is_superhost                             1386576 non-null  object
 16  host_listings_count                           1428113 non-null  float64
 17  host_total_listings_count                     1428113 non-null  float64
 18  host_verifications                            1428113 non-null  object
 19  host_has_profile_pic                          1428113 non-null  float64
 20  host_identity_verified                        1428113 non-null  float64
 21  neighbourhood                                 693529 non-null   object
 22  neighbourhood_cleansed                        1427926 non-null  object
 23  neighbourhood_group_cleansed                  366306 non-null   object
 24  latitude                                      1428928 non-null  float64
 25  longitude                                     1428928 non-null  float64
 26  property_type                                 1428928 non-null  object
 27  room_type                                     1428928 non-null  object
 28  accommodates                                  1428928 non-null  int64
 29  bathrooms                                     1157483 non-null  float64
 30  bathrooms_text                                1427317 non-null  object
 31  bedrooms                                      1361229 non-null  float64
 32  beds                                          1155953 non-null  float64
 33  amenities                                     1428928 non-null  object
 34  price_dollar                                  1156847 non-null  float64
 35  minimum_nights                                1428928 non-null  int64
 36  maximum_nights                                1428928 non-null  int64
 37  calendar_updated                              0 non-null        object
 38  has_availability                              1384065 non-null  float64
 39  availability_30                               1428928 non-null  int64
 40  availability_60                               1428928 non-null  int64
 41  availability_90                               1428928 non-null  int64
 42  availability_365                              1428928 non-null  int64
 43  calendar_last_scraped                         1428928 non-null  object
 44  number_of_reviews                             1428928 non-null  int64
 45  number_of_reviews_ltm                         1428928 non-null  int64
 46  number_of_reviews_l30d                        1428928 non-null  int64
 47  first_review                                  1126953 non-null  object
 48  last_review                                   1126953 non-null  object
 49  review_scores_rating                          1126951 non-null  float64
 50  review_scores_accuracy                        1126829 non-null  float64
 51  review_scores_cleanliness                     1126866 non-null  float64
 52  review_scores_checkin                         1126742 non-null  float64
 53  review_scores_communication                   1126830 non-null  float64
 54  review_scores_location                        1126727 non-null  float64
 55  review_scores_value                           1126717 non-null  float64
 56  license                                       1428928 non-null  object
 57  instant_bookable                              1428928 non-null  int64
 58  calculated_host_listings_count                1428928 non-null  int64
 59  calculated_host_listings_count_entire_homes   1428928 non-null  int64
 60  calculated_host_listings_count_private_rooms  1428928 non-null  int64
 61  calculated_host_listings_count_shared_rooms   1428928 non-null  int64
 62  reviews_per_month                             1126953 non-null  float64
 63  city                                          1428928 non-null  object
 64  province                                      1428928 non-null  object
 65  country                                       1428928 non-null  object
 66  continent                                     1428928 non-null  object
 67  etl_loaded_at                                 1428928 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(19), int64(18), object(30)
memory usage: 741.3+ MB

None

In [20]:
df_price = df[['price_dollar', 'city']]
df_price_null = df_price[df_price['price_dollar'].isnull()]
display(df_price_null)
display(df_price_null['city'].value_counts())

         price_dollar               city
6                 NaN          cape-town
19                NaN          cape-town
21                NaN          cape-town
22                NaN          cape-town
30                NaN          cape-town
...               ...                ...
1428545           NaN  western-australia
1428549           NaN  western-australia
1428563           NaN  western-australia
1428592           NaN  western-australia
1428606           NaN  western-australia

[272081 rows x 2 columns]

city
london            32367
paris             30938
new-york-city     15126
copenhagen         9236
los-angeles        9164
                  ...
salem-or             57
albany               50
barossa-valley       29
pacific-grove        21
budapest              7
Name: count, Length: 111, dtype: int64

Los nulos de la columna precio parece no tener relacion con la ciudad

In [21]:
df = df.drop(columns=["calculated_host_listings_count", "calculated_host_listings_count_entire_homes", "calculated_host_listings_count_private_rooms", "calculated_host_listings_count_shared_rooms", "description", "neighborhood_overview", "picture_url", "host_url", "host_response_time", "host_response_rate_percentage", "host_acceptance_rate_percentage", "host_is_superhost", "host_listings_count", "host_total_listings_count", "host_verifications", "host_has_profile_pic", "host_identity_verified", "neighbourhood", "neighbourhood_group_cleansed", "calendar_updated"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 48 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   id                           1428928 non-null  int64
 1   listing_url                  1428928 non-null  object
 2   scrape_id                    1428928 non-null  int64
 3   last_scraped                 1428928 non-null  object
 4   source                       1428928 non-null  object
 5   name                         1428924 non-null  object
 6   host_id                      1428928 non-null  int64
 7   host_since                   1428113 non-null  object
 8   neighbourhood_cleansed       1427926 non-null  object
 9   latitude                     1428928 non-null  float64
 10  longitude                    1428928 non-null  float64
 11  property_type                1428928 non-null  object
 12  room_type                    1428928 non-null  object
 13  accommodates                 1428928 non-null  int64
 14  bathrooms                    1157483 non-null  float64
 15  bathrooms_text               1427317 non-null  object
 16  bedrooms                     1361229 non-null  float64
 17  beds                         1155953 non-null  float64
 18  amenities                    1428928 non-null  object
 19  price_dollar                 1156847 non-null  float64
 20  minimum_nights               1428928 non-null  int64
 21  maximum_nights               1428928 non-null  int64
 22  has_availability             1384065 non-null  float64
 23  availability_30              1428928 non-null  int64
 24  availability_60              1428928 non-null  int64
 25  availability_90              1428928 non-null  int64
 26  availability_365             1428928 non-null  int64
 27  calendar_last_scraped        1428928 non-null  object
 28  number_of_reviews            1428928 non-null  int64
 29  number_of_reviews_ltm        1428928 non-null  int64
 30  number_of_reviews_l30d       1428928 non-null  int64
 31  first_review                 1126953 non-null  object
 32  last_review                  1126953 non-null  object
 33  review_scores_rating         1126951 non-null  float64
 34  review_scores_accuracy       1126829 non-null  float64
 35  review_scores_cleanliness    1126866 non-null  float64
 36  review_scores_checkin        1126742 non-null  float64
 37  review_scores_communication  1126830 non-null  float64
 38  review_scores_location       1126727 non-null  float64
 39  review_scores_value          1126717 non-null  float64
 40  license                      1428928 non-null  object
 41  instant_bookable             1428928 non-null  int64
 42  reviews_per_month            1126953 non-null  float64
 43  city                         1428928 non-null  object
 44  province                     1428928 non-null  object
 45  country                      1428928 non-null  object
 46  continent                    1428928 non-null  object
 47  etl_loaded_at                1428928 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(15), int64(14), object(18)
memory usage: 523.3+ MB

In [22]:
import re

for i in range(df.shape[0]):
    if pd.isna(df.loc[i, "bathrooms"]):
        if not pd.isna(df.loc[i, "bathrooms_text"]):
            half_bath_regex = r"\b(half[-\s]?bath(room)?|medio\s+bañ[oe])\b"
            text = df.loc[i, "bathrooms_text"].lower()

            if re.search(half_bath_regex, text):
                df.loc[i, "bathrooms"] = 0.5
                continue

            text_list = text.split(" ")

            if text_list[0].isdigit():
                df.loc[i, "bathrooms"] = float(text_list[0])
                continue

        df.loc[i, "bathrooms"] = 1

In [23]:
df_any_null = df[["bathrooms", "bathrooms_text"]]

df_any_null = df_any_null[df_any_null.isna().any(axis=1)]

In [24]:
df_any_null

         bathrooms bathrooms_text
644            1.0           None
2415           1.5           None
3725           2.0           None
4553           2.0           None
4722           3.0           None
...            ...            ...
1420047        2.0           None
1420427        0.0           None
1422978        0.0           None
1428598        1.0           None
1428747        1.0           None

[1611 rows x 2 columns]

In [25]:
# Cálculo de medianas por grupo
group_stats = df.groupby('accommodates').agg({
    'beds': 'median',
    'bedrooms': 'median'
})

In [26]:
display(group_stats)

              beds  bedrooms
accommodates
1              1.0       1.0
2              1.0       1.0
3              2.0       1.0
4              2.0       2.0
5              3.0       2.0
6              3.0       3.0
7              4.0       3.0
8              4.0       3.0
9              5.0       4.0
10             6.0       4.0
11             7.0       4.0
12             7.0       4.0
13             8.0       5.0
14             8.0       5.0
15             9.0       5.0
16            10.0       6.0

In [27]:
# Función de imputación
def impute_by_group(row, col):
    if pd.isna(row[col]):
        return group_stats.loc[row['accommodates'], col]
    return row[col]

df['beds'] = df.apply(lambda r: impute_by_group(r, 'beds'), axis=1)
df['bedrooms'] = df.apply(lambda r: impute_by_group(r, 'bedrooms'), axis=1)

# Alternativa: fallback a mediana global si el valor sigue NaN
med_beds = df['beds'].median()
med_bedrooms = df['bedrooms'].median()
df['beds'].fillna(med_beds, inplace=True)
df['bedrooms'].fillna(med_bedrooms, inplace=True)

C:\Users\Jesus Santos Capote\AppData\Local\Temp\ipykernel_36816\1047951560.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['beds'].fillna(med_beds, inplace=True)
C:\Users\Jesus Santos Capote\AppData\Local\Temp\ipykernel_36816\1047951560.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['bedrooms'].fillna(med_bedrooms, inplace=True)

In [28]:
df['has_availability'] = df['has_availability'].fillna(
    df['availability_365'].gt(0).astype(int)
)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1428928 entries, 0 to 1428927
Data columns (total 48 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   id                           1428928 non-null  int64
 1   listing_url                  1428928 non-null  object
 2   scrape_id                    1428928 non-null  int64
 3   last_scraped                 1428928 non-null  object
 4   source                       1428928 non-null  object
 5   name                         1428924 non-null  object
 6   host_id                      1428928 non-null  int64
 7   host_since                   1428113 non-null  object
 8   neighbourhood_cleansed       1427926 non-null  object
 9   latitude                     1428928 non-null  float64
 10  longitude                    1428928 non-null  float64
 11  property_type                1428928 non-null  object
 12  room_type                    1428928 non-null  object
 13  accommodates                 1428928 non-null  int64
 14  bathrooms                    1428928 non-null  float64
 15  bathrooms_text               1427317 non-null  object
 16  bedrooms                     1428928 non-null  float64
 17  beds                         1428928 non-null  float64
 18  amenities                    1428928 non-null  object
 19  price_dollar                 1156847 non-null  float64
 20  minimum_nights               1428928 non-null  int64
 21  maximum_nights               1428928 non-null  int64
 22  has_availability             1428928 non-null  float64
 23  availability_30              1428928 non-null  int64
 24  availability_60              1428928 non-null  int64
 25  availability_90              1428928 non-null  int64
 26  availability_365             1428928 non-null  int64
 27  calendar_last_scraped        1428928 non-null  object
 28  number_of_reviews            1428928 non-null  int64
 29  number_of_reviews_ltm        1428928 non-null  int64
 30  number_of_reviews_l30d       1428928 non-null  int64
 31  first_review                 1126953 non-null  object
 32  last_review                  1126953 non-null  object
 33  review_scores_rating         1126951 non-null  float64
 34  review_scores_accuracy       1126829 non-null  float64
 35  review_scores_cleanliness    1126866 non-null  float64
 36  review_scores_checkin        1126742 non-null  float64
 37  review_scores_communication  1126830 non-null  float64
 38  review_scores_location       1126727 non-null  float64
 39  review_scores_value          1126717 non-null  float64
 40  license                      1428928 non-null  object
 41  instant_bookable             1428928 non-null  int64
 42  reviews_per_month            1126953 non-null  float64
 43  city                         1428928 non-null  object
 44  province                     1428928 non-null  object
 45  country                      1428928 non-null  object
 46  continent                    1428928 non-null  object
 47  etl_loaded_at                1428928 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(15), int64(14), object(18)
memory usage: 523.3+ MB

In [30]:
df = df.dropna()

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 927994 entries, 0 to 1428876
Data columns (total 48 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           927994 non-null  int64
 1   listing_url                  927994 non-null  object
 2   scrape_id                    927994 non-null  int64
 3   last_scraped                 927994 non-null  object
 4   source                       927994 non-null  object
 5   name                         927994 non-null  object
 6   host_id                      927994 non-null  int64
 7   host_since                   927994 non-null  object
 8   neighbourhood_cleansed       927994 non-null  object
 9   latitude                     927994 non-null  float64
 10  longitude                    927994 non-null  float64
 11  property_type                927994 non-null  object
 12  room_type                    927994 non-null  object
 13  accommodates                 927994 non-null  int64
 14  bathrooms                    927994 non-null  float64
 15  bathrooms_text               927994 non-null  object
 16  bedrooms                     927994 non-null  float64
 17  beds                         927994 non-null  float64
 18  amenities                    927994 non-null  object
 19  price_dollar                 927994 non-null  float64
 20  minimum_nights               927994 non-null  int64
 21  maximum_nights               927994 non-null  int64
 22  has_availability             927994 non-null  float64
 23  availability_30              927994 non-null  int64
 24  availability_60              927994 non-null  int64
 25  availability_90              927994 non-null  int64
 26  availability_365             927994 non-null  int64
 27  calendar_last_scraped        927994 non-null  object
 28  number_of_reviews            927994 non-null  int64
 29  number_of_reviews_ltm        927994 non-null  int64
 30  number_of_reviews_l30d       927994 non-null  int64
 31  first_review                 927994 non-null  object
 32  last_review                  927994 non-null  object
 33  review_scores_rating         927994 non-null  float64
 34  review_scores_accuracy       927994 non-null  float64
 35  review_scores_cleanliness    927994 non-null  float64
 36  review_scores_checkin        927994 non-null  float64
 37  review_scores_communication  927994 non-null  float64
 38  review_scores_location       927994 non-null  float64
 39  review_scores_value          927994 non-null  float64
 40  license                      927994 non-null  object
 41  instant_bookable             927994 non-null  int64
 42  reviews_per_month            927994 non-null  float64
 43  city                         927994 non-null  object
 44  province                     927994 non-null  object
 45  country                      927994 non-null  object
 46  continent                    927994 non-null  object
 47  etl_loaded_at                927994 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(15), int64(14), object(18)
memory usage: 346.9+ MB

In [ ]:
import ast

failures = []
for amenities_list in df["amenities"]:
    try:
        ast.literal_eval(amenities_list)
    except:
        failures.append(amenities_list)

In [ ]:
len(failures)

In [ ]:
amenities_set = set()
for amenities_list in df["amenities"]:
    for amenitie in ast.literal_eval(amenities_list):
        amenities_set.add(amenitie)

In [ ]:
print(amenities_set)
print(len(amenities_set))

In [ ]:
import numpy as np

df["amenities_count"] = np.zeros(df.shape[0])

for i in range(df.shape[0]):
    df.loc[i, "amenities_count"] = len(ast.literal_eval(df["amenities"][i]))

In [ ]:
df.head()

In [ ]:
df["room_type"].value_counts()

In [ ]:
def plot_price_box_plot_by_room_type(room_type):
    # Seleccionar subset
    sub = df[df["room_type"] == room_type]["price_dollar"]

    # Calcular Q1, Q3 e IQR
    Q1 = sub.quantile(0.25)
    Q3 = sub.quantile(0.75)
    IQR = Q3 - Q1

    # Definir límites
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    # Filtrar
    filtered = sub[(sub >= lower) & (sub <= upper)]

    # Graficar sin outliers
    fig = px.box(
        filtered.to_frame(name="price_dollar"),
        x=[room_type] * len(filtered),
        y="price_dollar",
        points=False
    )
    fig.update_traces(boxmean=True)
    fig.show()

In [ ]:
df[df["room_type"] == "entire home/apt"].plot(x="room_type", y="price_dollar", kind='box')

In [ ]:
df[df["room_type"] == "private room"].plot(x="room_type", y="price_dollar", kind='box')

In [ ]:
df[df["room_type"] == "hotel room"].plot(x="room_type", y="price_dollar", kind='box')

In [ ]:
df[df["room_type"] == "shared room"].plot(x="room_type", y="price_dollar", kind='box')

In [ ]:
plot_price_box_plot_by_room_type("entire home/apt")

In [ ]:
plot_price_box_plot_by_room_type("private room")

In [ ]:
plot_price_box_plot_by_room_type("hotel room")

In [ ]:
plot_price_box_plot_by_room_type("shared room")

In [ ]:
def plot_price_box_plot_by_numeric_value(var_name, df):
    # Calcular Q1, Q3 e IQR para 'price_dollar'
    Q1 = df["price_dollar"].quantile(0.25)
    Q3 = df["price_dollar"].quantile(0.75)
    IQR = Q3 - Q1

    # Definir límites para detectar outliers
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    # Filtrar el DataFrame completo para eliminar outliers en 'price_dollar'
    filtered_df = df[(df["price_dollar"] >= lower) & (df["price_dollar"] <= upper)]

    # Verificar que la columna var_name existe en el DataFrame
    if var_name not in filtered_df.columns:
        raise ValueError(f"La columna '{var_name}' no existe en el DataFrame.")

    # Graficar sin outliers
    fig = px.box(
        filtered_df,
        x=var_name,
        y="price_dollar",
        points=False
    )
    fig.update_traces(boxmean=True)
    fig.show()

In [ ]:
df.accommodates.value_counts()

In [ ]:
plot_price_box_plot_by_numeric_value("accommodates", df)

In [ ]:
plot_price_box_plot_by_numeric_value("bedrooms", df)

In [ ]:
plot_price_box_plot_by_numeric_value("beds", df)

In [ ]:
plot_price_box_plot_by_numeric_value("bathrooms", df)

In [ ]:
plot_price_box_plot_by_numeric_value("amenities_count", df)

In [ ]:
plot_price_box_plot_by_numeric_value("instant_bookable", df)

In [ ]:
plot_price_box_plot_by_numeric_value("country", df)

In [ ]:
selected_columns = [
    "latitude", 
    "longitude", 
    "room_type", 
    "accommodates", 
    "bathrooms", 
    "bedrooms", 
    "beds", 
    "amenities_count",
    "minimum_nights",
    "maximum_nights",
    "country",
    "price_dollar"
    ]