In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [4]:
schema_name = "stg"
table_name = "review"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,listing_id,id,date,reviewer_id,comments
0,3191,4888238,2013-05-31,5737473,Great home away from home! Bridgette and Marth...
1,15007,9223897,2013-12-15,7175290,We spent a fantastic two week holiday at the B...
2,667072,8833352,2013-11-20,2861185,"Diane is the perfect ""guest Mum""! Very clean a..."
3,668544,9580158,2014-01-03,2946956,Lovely place - with a lovely host.<br/>We had ...
4,672103,3260845,2013-01-04,3632889,We had an amazing stay at the Magical manor ho...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126953 entries, 0 to 1126952
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   listing_id   1126953 non-null  int64
 1   id           1126953 non-null  int64
 2   date         1126953 non-null  object
 3   reviewer_id  1126953 non-null  int64
 4   comments     1126826 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.0+ MB

In [6]:
len(df['listing_id'].unique())

1126953

El numero de listing_id unicos coincide con la cantidad de registros de la tabla, por tanto hay un solo review por listing. A su vez la cantidad de reviews es menor que la cantidad de listings, por tanto hay listings que nunca han sido rese√±ados en nuestro dataset.

In [9]:
df['comments'] = df['comments'].fillna('unknown')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1126953 entries, 0 to 1126952
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   listing_id   1126953 non-null  int64
 1   id           1126953 non-null  int64
 2   date         1126953 non-null  object
 3   reviewer_id  1126953 non-null  int64
 4   comments     1126953 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.0+ MB