In [1]:
import pandas as pd
pd.options.plotting.backend = "plotly"
from sqlalchemy import create_engine
import plotly.express as px

In [2]:
connection_string = "postgresql+psycopg2://postgres:postgres@localhost:5433/dwh_airbnb"
engine = create_engine(connection_string)

In [9]:
schema_name = "stg"
table_name = "listing"

query = f"SELECT * FROM {schema_name}.{table_name};"

df = pd.read_sql(query, engine)

df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,city,province,country,continent,etl_loaded_at
0,548696985481887967,https://www.airbnb.com/rooms/548696985481887967,20250315152923,2025-03-16,city scrape,SuperHost 5 Star with 3 Bedrooms Entire Home U022,"New, modern and Large 3 bedroom & 2 bathroom H...",None,https://a0.muscache.com/pictures/miso/Hosting-...,442240543,...,19,19,0,0,0.07,clark-county-nv,nv,United States,Americas,2025-04-18 11:01:56.015171+00:00
1,548827302048249774,https://www.airbnb.com/rooms/548827302048249774,20250315152923,2025-03-16,previous scrape,5br 3ba LV vacation home with pool- 3mi fr strip,If you are looking for a great Vegas getaway w...,Paradise Palms,https://a0.muscache.com/pictures/miso/Hosting-...,59488544,...,1,1,0,0,1.92,clark-county-nv,nv,United States,Americas,2025-04-18 11:01:56.015171+00:00
2,548844180301219243,https://www.airbnb.com/rooms/548844180301219243,20250315152923,2025-03-15,city scrape,MGM Signature Balcony One Bedroom Two Beds Suite,NO RESORT FEE AND BEST RATE GUARANTEE. Two bed...,Global brand luxurious MGM Signature Towers. C...,https://a0.muscache.com/pictures/prohost-api/H...,225650025,...,23,23,0,0,2.22,clark-county-nv,nv,United States,Americas,2025-04-18 11:01:56.015171+00:00
3,548913801598237139,https://www.airbnb.com/rooms/548913801598237139,20250315152923,2025-03-16,city scrape,Riverview Room at Aquarius Casino Resort,This casino resort offers views of the Colorad...,Lake Mead National Recreation Center - 6 miles...,https://a0.muscache.com/pictures/prohost-api/H...,5615582,...,7,1,0,0,0.09,clark-county-nv,nv,United States,Americas,2025-04-18 11:01:56.015171+00:00
4,549315064917577432,https://www.airbnb.com/rooms/549315064917577432,20250315152923,2025-03-15,city scrape,"Pool, King bed, Insta Wall, Arcade room,EV cha...",Nicknamed The Dunes - Completely remodeled hom...,Quiet cul-de-sac with lots of shopping and din...,https://a0.muscache.com/pictures/miso/Hosting-...,399095554,...,2,2,0,0,4.55,clark-county-nv,nv,United States,Americas,2025-04-18 11:01:56.015171+00:00

In [5]:
df = df[df["country"].isin(["Spain", "Italy"])]

In [6]:
import os

path = os.path.join(os.getcwd(), "listings_sp_it.csv")

df.to_csv(path)

In [11]:
schema_name = "stg"
table_name = "calendar"

query = f"SELECT * FROM {schema_name}.{table_name};"

df_cal = pd.read_sql(query, engine)

df_cal.head()

,listing_id,date,available,price_dollar,adjusted_price_dollar,minimum_nights,maximum_nights
0,3191,2024-12-28,False,47.0,NaN,3.0,730.0
1,672103,2024-12-28,False,4950.0,NaN,10.0,20.0
2,15007,2024-12-28,False,2043.0,NaN,2.0,1125.0
3,675177,2024-12-28,False,4738.0,NaN,2.0,1125.0
4,15068,2024-12-28,False,3000.0,NaN,4.0,730.0

In [16]:
df_calendar_sp_it = pd.merge(df_cal, df, how='left', left_on="listing_id", right_on="id")

In [17]:
df_calendar_sp_it.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303617 entries, 0 to 303616
Data columns (total 75 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   listing_id                                    303617 non-null  int64
 1   date                                          303617 non-null  object
 2   available                                     303617 non-null  bool
 3   price_dollar_x                                303617 non-null  float64
 4   adjusted_price_dollar                         256 non-null     float64
 5   minimum_nights_x                              301773 non-null  float64
 6   maximum_nights_x                              301773 non-null  float64
 7   id                                            303617 non-null  int64
 8   listing_url                                   303617 non-null  object
 9   scrape_id                                     303617 non-null  int64
 10  last_scraped                                  303617 non-null  object
 11  source                                        303617 non-null  object
 12  name                                          303615 non-null  object
 13  description                                   296809 non-null  object
 14  neighborhood_overview                         151612 non-null  object
 15  picture_url                                   303616 non-null  object
 16  host_id                                       303617 non-null  int64
 17  host_url                                      303617 non-null  object
 18  host_since                                    303351 non-null  object
 19  host_response_time                            303617 non-null  object
 20  host_response_rate_percentage                 253482 non-null  object
 21  host_acceptance_rate_percentage               263473 non-null  object
 22  host_is_superhost                             292300 non-null  object
 23  host_listings_count                           303351 non-null  float64
 24  host_total_listings_count                     303351 non-null  float64
 25  host_verifications                            303351 non-null  object
 26  host_has_profile_pic                          303351 non-null  float64
 27  host_identity_verified                        303351 non-null  float64
 28  neighbourhood                                 151614 non-null  object
 29  neighbourhood_cleansed                        303617 non-null  object
 30  neighbourhood_group_cleansed                  56213 non-null   object
 31  latitude                                      303617 non-null  float64
 32  longitude                                     303617 non-null  float64
 33  property_type                                 303617 non-null  object
 34  room_type                                     303617 non-null  object
 35  accommodates                                  303617 non-null  int64
 36  bathrooms                                     259516 non-null  float64
 37  bathrooms_text                                303270 non-null  object
 38  bedrooms                                      292597 non-null  float64
 39  beds                                          259225 non-null  float64
 40  amenities                                     303617 non-null  object
 41  price_dollar_y                                259515 non-null  float64
 42  minimum_nights_y                              303617 non-null  int64
 43  maximum_nights_y                              303617 non-null  int64
 44  calendar_updated                              0 non-null       object
 45  has_availability                              292362 non-null  float64
 46  availability_30                               303617 non-null  int64
 47  availability_60                               303617 non-null  int64
 48  availability_90                               303617 non-null  int64
 49  availability_365                              303617 non-null  int64
 50  calendar_last_scraped                         303617 non-null  object
 51  number_of_reviews                             303617 non-null  int64
 52  number_of_reviews_ltm                         303617 non-null  int64
 53  number_of_reviews_l30d                        303617 non-null  int64
 54  first_review                                  239467 non-null  object
 55  last_review                                   239467 non-null  object
 56  review_scores_rating                          239467 non-null  float64
 57  review_scores_accuracy                        239450 non-null  float64
 58  review_scores_cleanliness                     239453 non-null  float64
 59  review_scores_checkin                         239436 non-null  float64
 60  review_scores_communication                   239448 non-null  float64
 61  review_scores_location                        239434 non-null  float64
 62  review_scores_value                           239434 non-null  float64
 63  license                                       303617 non-null  object
 64  instant_bookable                              303617 non-null  int64
 65  calculated_host_listings_count                303617 non-null  int64
 66  calculated_host_listings_count_entire_homes   303617 non-null  int64
 67  calculated_host_listings_count_private_rooms  303617 non-null  int64
 68  calculated_host_listings_count_shared_rooms   303617 non-null  int64
 69  reviews_per_month                             239467 non-null  float64
 70  city                                          303617 non-null  object
 71  province                                      303617 non-null  object
 72  country                                       303617 non-null  object
 73  continent                                     303617 non-null  object
 74  etl_loaded_at                                 303617 non-null  datetime64[ns, UTC]
dtypes: bool(1), datetime64[ns, UTC](1), float64(23), int64(19), object(31)
memory usage: 171.7+ MB

In [20]:
columns = ["listing_id", "date", "available", "price_dollar_x", "adjusted_price_dollar", "minimum_nights_x", "maximum_nights_x"]

In [21]:
df_calendar_sp_it = df_calendar_sp_it[columns]

In [22]:
df_calendar_sp_it.rename(columns={
    "price_dollar_x" : "price_dollar", 
    "minimum_nights_x": "minimum_nights", 
    "maximum_nights_x": "maximum_nights"
})

,listing_id,date,available,price_dollar,adjusted_price_dollar,minimum_nights,maximum_nights
0,3191,2024-12-28,False,47.0,NaN,3.0,730.0
1,672103,2024-12-28,False,4950.0,NaN,10.0,20.0
2,15007,2024-12-28,False,2043.0,NaN,2.0,1125.0
3,675177,2024-12-28,False,4738.0,NaN,2.0,1125.0
4,15068,2024-12-28,False,3000.0,NaN,4.0,730.0
...,...,...,...,...,...,...,...
303612,1319063702014108016,2024-12-26,True,249.0,NaN,1.0,60.0
303613,1316079897908158146,2024-12-26,True,30.0,NaN,1.0,365.0
303614,1316080998328996899,2024-12-26,False,30.0,NaN,1.0,365.0
303615,1316091705997152486,2024-12-26,True,135.0,NaN,1.0,365.0
303616,1316164827507030047,2024-12-26,False,120.0,NaN,2.0,1125.0

In [23]:
import os

path = os.path.join(os.getcwd(), "calendar_sp_it.csv")

df_calendar_sp_it.to_csv(path)